@font-face {
  font-family: "Vazir";
  src: url("./fonts/Vazir.eot"), url("./fonts/Vazir.woff"),
    url("./fonts/Vazir.ttf"), url("./fonts/Vazir.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Vazir";
}
